<h2>Add Your Question</h2>
{{new-question save="save"}}

<h2>All Community Questions</h2>
<ul class="question-list">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
